html,body{
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
}

header {
    background-image: url(img/landscape.jpg);
    width: 100%;
    height: 6rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    z-index: 2;
}

nav{
    background-color: lightskyblue;
    position: sticky;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    z-index: 2;
}

nav a{
    text-align: center;
    flex: 1;
    min-width: 5rem;
    border: 3px solid black;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

nav a:hover{
    background-color: #ddbdfc;
}

main{
    text-align: center;
    margin-bottom: 5rem;
}

footer{
    border: 3px solid black;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: lightskyblue;
    width: 100%;
    padding: .5rem;
}

footer a{
    margin: 0 1rem;
    text-align: center;
    flex: 1;
    min-width: 10rem;
    color: black;
    font-size: 1rem;
}

button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.4rem;
    width: 50%;
    border-radius: 25px;
}

button:focus {
    outline: none;
}

p{
    padding-left: 1rem;
    text-align: left;
    margin: 1rem;
    width: 75%;
    font-size: 1.5rem;
    display: inline-block;
}

article{
    background-color: lightskyblue;
    padding: 1rem 7%;
    margin: 1rem;
    border-radius: 25px;
}

section{
    background-color: #ddbdfc;
    text-align: center;
    margin: 2rem auto;
    border-radius: 25px;
    padding: 1rem;
}

ul{
    margin: auto;
}

li{
    text-align: left;
}

h1, h2, h3{
    font-family: 'Lexend Giga', sans-serif;
}

.title{
    font-size: 2.5rem;
}

.portrait{
    width: 60%;
    max-width: 400px;
    margin: auto;
}

.project__description a {
    width: 50%;
}

.project__description{
    text-align: left;
    font-size: 1rem;
    display: flex;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.project__description ul{
    width: 40%;
    margin: 0;
    padding-left: 3rem;
}
/* 
.project__description ul li{
    width: 80%;
} */

.project__description .project__title{
    margin-top: 0;
}

.project__image{
    width: 100%;
}

.image__container{
    margin: 0 2rem;
    margin-bottom: 1rem;
    width: 80%;
    height: 20%;
    text-align: center;
    max-width: 25rem;
}

.image__holder__container{
    position: relative;
    width: 100%;
    padding-bottom: 59%;
    float: left;
    height: 0;
}

.image__holder{
    height: 100%;
    width: 100%;
    background-color: lightgray;
    position: absolute;
    left: 0;
}

.text__holder{
    font-weight: bold;
    margin: 20% 0%;
}

.image__links{
    margin: 0 3%;
}

.project__title{
    text-align: center;
    font-size: 1.6rem;
    text-decoration: underline;
    margin-top: 0;
}

.project__entry{
    clear: both;
}

.skills__container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section__container{
    margin: 0 auto;
    width: 65%;
    font-size: 1rem;
}

.section__title{
    font-size: 1.4rem;
    margin: .5rem 0;
}

.section__subtitle{
    font-size: 1.1rem;
    margin-top: 0;
}

.contact__container{
    height: 80vh;
}

.contact{
    margin: 3rem 0;
}

.contact a{
    font-size: 1.3rem;
    vertical-align: 20px;
    margin-left: 1.5rem;
}

.tooltip{
    font-size: 1rem;
}

.tooltiptext{
    display: none;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
    bottom: 110%;
    font-size: .8rem;
}

.tooltip:hover + .tooltiptext {
    display: block;
  }

.stack__text{
    font-weight: bold;
}

.strong,.proficent,.familiar{
    width: 20rem;
    padding: .7rem;
    border-radius: 25px;
}

.strong{
    background-color: #55ff00;
}

.proficent{
    background-color: #a1fc74;
}

.familiar{
    background-color: #d8ffc4;
}

@media(max-width: 475px){

    .title{
        font-size: 1.8rem;
    }

    .project__description{
        font-size: .8rem;
    }

    .project__description ul{
        width: 100%;
    }

    .project__title{
        font-size: 1.2rem;
    }

    .section__title{
        font-size: 1rem;
    }

    .section__subtitle{
        font-size: .9rem;
    }

    footer a{
        font-size: .8rem;
    }

    nav a{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
    }

    .portrait{
        width: 60%;
    }
}

@media(max-width: 1066px) and (min-width: 475px){
    .project__description ul{
        margin: 0 10%;
        width: 80%;
    }
}